body{
    text-align:center;
    font-family: 'Gloria Hallelujah', cursive;
    color:#40514E;
    
}
h1{
    color:#66BFBF;
    font-size:5.62rem; /*16px=100%=1rem*/
    font-family: 'Sacramento', cursive;
    margin-top:50px;
    line-height:2;

}

p{
    line-height:2;
}

h2{
    color:#66BFBF;
    font-size:2.5rem;
    font-weight:normal;
    padding-bottom:10px;

}
h3{
    color:#11999E;
    font-family: 'Gloria Hallelujah', cursive;
}
hr{
    border:6px dotted #EAF6F6;
    border-top:none;
    width:4%;
    margin:100px auto;
    
}

.Top-Container{
    background-color:#EAF6F6;
    position:relative;
    padding-top:100px;

}
.middle-container{
    margin:100px 0;
}
.bottom-container{
    background-color: #66BFBF;
    padding:50px 0 20px;
}

.Top-cloud{
    position:absolute;
    right:300px;
    top:50px;


}
.Bottom-cloud{
    position:absolute;
    left:300px;
    bottom:300px;
}

.Front{

    width:25%;
    margin-right:30px;
    float:left;
   
}
.Back{

    width:25%;
    margin-right:30px;
    float:left;
   
}

.footer-link{
    color:white;
}
.skill-row{
    margin: 100px auto 100px auto;
    width:50%;
    text-align:left;
    line-height:2;
}
.btn {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    font-family: 'Gloria Hallelujah', cursive;;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #fa3545;
    background-image: -webkit-linear-gradient(top, #fa3545, #fa3545);
    background-image: -moz-linear-gradient(top, #fa3545, #fa3545);
    background-image: -ms-linear-gradient(top, #fa3545, #fa3545);
    background-image: -o-linear-gradient(top, #fa3545, #fa3545);
    background-image: linear-gradient(to bottom, #fa3545, #fa3545);
    text-decoration: none;
  }
